/* webpage/body */
body
{
	/* removing browser default padding around the webpage/body */
	padding: 0;

	/* removing browser default margin around the webpage/body */
	margin: 0;

	/* removing the horizontal scrollbar in case of any overflowing content */
	overflow-x: hidden;

	/* removing the horizontal scrollbar in case of any overflowing content on internet explorer & edge browsers */
	-ms-overflow-style: hidden;

	/* backup tan background color if the #content background color is messed up */
	background-color: rgb(226,193,151);
}

/* arial black font (incase a browser doesn't have arial black by default) */
@font-face
{
	/* name to call the font */
	font-family: arial-black;

	/* source file for the arial font */
	src: url(../fonts/arial_black/arial_black.ttf);
}

/* arial font (incase a browser doesn't have arial by default) */
@font-face
{
	/* name to call the font */
	font-family: arial;
	
	/* source file for the arial font */
	src: url(../fonts/arial/arial.ttf);
}

/* scrollbar width */
::-webkit-scrollbar 
{
    /* make the scrollbar 10px wide */
    width: 10px;
}

/* scrollbar track */
::-webkit-scrollbar-track 
{
    /* make the scrollbar track/background a very light gray */
    background: rgb(220,220,220); 
}

/* scrollbar handle */
::-webkit-scrollbar-thumb 
{
    /* make the scrollbar handle the bpa red color when its not being used/touched */
    background: rgb(239,62,66); 
}

/* scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    /* make the handle opaque on hover */
    background: rgba(239,62,66,.75); 
}

/* scrollbar handle when in use */
::-webkit-scrollbar-thumb:active
{
	/* make the handle the bpa blue color when in use */
	background: rgb(0,50,99); 
}

/* links */
a
{
	/* changing the default link color to bpa gray */
	color: rgb(105,105,105);
}

/* links when the user is hovering over */
a:hover
{
	/* removing browser default text-decoration */
	text-decoration: none;

	/* bolding the text */
	font-weight: bolder;
}

/* paragraphs */
p
{
	/* paragraph padding */
	padding: 5px 0px 5px 0px;

	/* removing default paragraph margin */
	margin: 0;
}

/* headings in use */
h1,h2
{
	/* removing browser default margins in headings */
	margin: 0;

	/* removing browser default padding in headings */
	padding: 0;
}

/*unordered lists*/
ul
{
	/* removing default padding */
	padding: 0;

	/* removing default margin*/
	margin: 0;

	/* removing bullet points */
	list-style-type: none;
}

/* bottom footer advertising the official bpa page for more info */
footer
{
	/* making it so the footer/block goes around the text/content, instead of filling the entire parent div */
	display: inline-block;

	/* spacing the footer away from the main content/award info */
	margin-top: 3.4vh;

	/* space around the text */
	padding: 1vh 3vw 1vh 3vw;

	/* bpa red text color */
	color: rgb(239,62,66);

	/* bpa blue background color */
	background-color: rgb(0,50,99);
}

/* when the user is hovering over the footer */
footer:hover
{
	/* shorten the padding on the left/right */
	padding: 1vh 2.77vw 1vh 2.77vw;

	/* darken and shrink the box shadow */
	box-shadow: 0 1px 4px rgba(0,0,0,0.23), 0 1px 4px rgba(0,0,0,0.3);
}

/* aside comments/elements */
aside
{
	/* making the font color bpa gray */
	color: rgb(105,105,105);
}

/* bpa site footer */
#BPASITE
{
	/* making it separate from the above section and not flow/float with it */
	display: block;
	clear: both;
}

/* the "bpa.org" text/link in the footer */
#bpa-link
{
	/* all animations will take half a second to complete */
	transition: .5s;

	/* make the text white */
	color: rgb(255,255,255);

	/* spacing the bpa link away from the other text */
	padding-left: 2.4vw;
}

/* when the user is hovering over the footer, modify the child element, #bpa-link */
footer:hover #bpa-link
{
	/* all animations will take half a second to complete */
	transition: .5s;

	/* spacing the bpa link further away from the other text */
	padding-left: 2.3vw;

	/* spacing apart the bpa link's letters */
	letter-spacing: .1vw;

	/* making the letters bolder */
	font-weight: bold;
}

/* when the user hovering over the footer */
footer:hover
{
	/* play animations over a duration of half a second */
	transition: .5s;
}

/* class to assign the arial-black font to an element */
.font-arial-black
{
	/* assigning the arial-black font */
	font-family: arial-black;
}

/* class to assign the arial font to an element */
.font-arial
{
	/* assigning the arial font */
	font-family: arial;
}

/* class to make the text in an element have a bold/thick text weight */
.font-weight-bold
{
	/* making the text thicker/bold */
	font-weight: bold;
}

/* page header div */
#header
{
	/* making the header/div fill the entire view width of the browser window */
	width: 100vw;

	/* making the header/div fill 65% view height of the browser window */
	height: 42vh;

	/* making the background color of the header white */
	background-color: rgb(255,255,255);

	/* making sure the header is always on top, overlaying all other elements */
	z-index: 1000;
}

/* alternate fixed header for when the user starts scrollng down the page */
#header-fixed
{
	/* start off the screen, will come down with scripts */
	margin-top: -25vh;

	/* start off invisible, will appear with scripts */
	opacity: 0;

	/* keeping the header locked on the webpage */
	position: fixed;

	/* locking the header to the top of the webpage */
	top: 0;

	/* height of the header */
	height: 25vh;

	/* width of the header */
	width: 100vw;

	/* src file for the background/fill image of the header */
	background-image: url('../images/header/header_1.png');

	/* make the background image fill the entire div/header */
	background-size: cover;

	/* align the top of the header as the top of the image */
	background-position: top;
}

/* div where the info/content will be displayed (entire bottom side of the page) */
#content
{
	/* making the content div fill the entire view width of the browser window */
	width: 100vw;

	/* making the content background color the tan bpa color from the logo */
	background-color: rgb(227,190,152);

	/* making sure the div is always below the header */
	z-index: -1;

	/* allowing the .box-shadow class to work/appear on the header */
	position: absolute;
}

/* logo image element in the #header */
#logo
{
	/* making the logo's height fill 85% of its parent element (#header), width is automatic, keeping its aspect ratio */
	height: 85%;
}

/* back/return button that takes the user to the previous page */
#backbutton
{
	/* play animations during the course of half a second */
	transition: .5s;

	/* make the font color of the back button white */
	color: rgb(255,255,255);

	/* get rid of default underline from the link */
	text-decoration: none;

	/* make the background color an opaque black */
	background-color: rgba(0,0,0,.6);

	/* add padding around the div to help the border radius make the div a circle*/
	padding: 45px 26px 45px 26px;

	/* curve the edegs of the div, making it a circle */
	border-radius: 50%;

	/* shadow around the circle/div */
	box-shadow: 0 0 10px 6px rgba(0,0,0,.85);

	/* adding a very slight blur to add a sort of anti-aliasing to the edge of the circle */
	filter: blur(.4px);
}

/* when the user is hovering over the back button */
#backbutton:hover
{
	/* play animations during the course of half a second */
	transition: .5s;

	/* darken the div background color */
	background-color: rgba(0,0,0,.85);

	/* shrinking shadow around the circle/div */
	box-shadow: 0 0 10px 2px rgba(0,0,0,1);
}

/* class to center a element horizontall and vertically in another element */
.center-xy
{
	/* make element moveable */
	position: relative;
	
	/* move element down 50% of its parents height */
	top: 50%;
	
	/* move element left 50% of its parents width */
	left: 50%;
	
	/* move element back half way, centering the element */
	transform: translate(-50%, -50%); 
}

/* class to center a element vertically in another element */
.center-y
{
	/* make element moveable */
	position: relative;
	
	/* move element top 50% of its parents height */
	top: 50%;
	
	/* move element back half way, centering it vertically */
  	transform: translateY(-50%);
}

/* class to center a element horizontally in another element */
.center-x
{
	/* make sure element is acting like a block element (like a div) */
	display: block;
	
	/* let margin center the element by putting left/right margins as auto */
	margin: 0 auto;
}

/* class to center text vertically */
.center-text-y
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 20%;
}


/* class to add a shadow that goes around certain divs */
.box-shadow
{
	/* animations that occur will take half a second to play */
	transition: .5s;

	/* shadow specifications */
	box-shadow: 0 3px 6px rgba(0,30,79,0.16), 0 3px 6px rgba(0,30,79,0.23);
}

/* safe space for content to go without worrying about overflow */
#content-space
{
	/* space the content space 5% of the view height away from the header */
	padding-top: 5vh;
	
	/* space the content space 5% of the view height away from bottom of the webpage */
	padding-bottom: 5vh;
	
	/* make the safe space be 95% of the view width */
	width: 95vw;
	
	/* align text to center by default */
	text-align: center;
}

/* content section title/header (big blue text underneath the header) */
#content-header
{
	/* make the font color bpa blue */
	color: rgb(0,50,99);
	
	/* make the font size scale with the width of the screen */
	font-size: 6vw;
	
	/* push the info away from the header */
	margin-bottom: 5vh;
	
	/* fixing slightly uncentered text on long titles  */
	margin-left: -1.5vw;
	
	/* shadow behind the text */
	text-shadow: .25vw .25vw rgba(0,0,0,.2);
	
	/* allow the title to go beyond the safe space and not wrap */
	white-space: nowrap;
}

/* home page award section */
.award
{
	/* height of the award section */
	height: 300px;
	
	/* space stacked award sections away from eachother */
	margin-bottom: 5vh;
	
	/* set the background color of the award section to white */
	background-color: rgb(255,255,255);
	
	/* any animations that occur will take half a second to finish */
	transition: .5s;
}

/* top half of the award section */
.award-top
{
	/* make the top half fill most of the space, 80% height of the .award parent div */
	height: 80%;
	
	/* set the font color to bpa red on the top half */
	color: rgb(239,62,66);
	
	/* put a bpa red border on the bottom of the top half */
	border-bottom: 2px solid rgb(239,62,66);
}

/* left side of the top half of the award section */
.award-top-left
{
	/* set the width of the left side to be 20% of the top half's width */
	width: 20%;
	
	/* set the height of the left side to be 100% of the top half's height (80% of the entire award section) */
	height: 100%;
	
	/* make sure the left side is on the left */
	float: left;
	
	/* anchor content to the left, instead of the center */
	justify-content: left;

}

/* right side of the top half of the award section */
.award-top-right
{
	/* set the width of the right side to be 80% if the top half's width */
	width: 80%;
	
	/* set the height of the right side to be 100% of the top half's height (80% of the entire award section) */
	height: 100%;
	
	/* make sure the right side is on the right */
	float: right;
}

/* bottom half of the award section */
.award-bottom
{
	/* set the height of the bottom half to be 20% of the entire award section's height */
	height: 20%;
	
	/* set the bottom half's font color to be bpa gray */
	color: rgb(105,105,105);
	
	/* set the font size of the bottom half text to by 17px, a little bit larger than default */
	font-size: 17px;
}


/* award image located in .award-top-left */
.award-image
{
	/* push image away from the edge of the award div */
	margin-left: .4vw;
	
	/* set the width of the image to be 95% of .award-top-left's width */
	width: 95%;
	
	/* keep the image in the center when the webpage gets thin and the content starts wrapping */
	float: left;
}

/* award header text located in .award-top-right */
.award-header
{
	/* any animations that occur will take half a second to complete */
	transition: .5s;
	
	/* set the size of the text to be very large, and based on the size of the award div's width */
	font-size: 500%;
	
	/* shadow behind the text */
	text-shadow: .18vw .18vw rgba(0,0,0,.3);
}

/* when the user is hovering over one of the award sections */
.award.box-shadow:hover
{
	/* any animations that occur will take half a second to complete */
	transition: .5s;
	
	/* lessen the size of the box shadow, but make it darker */
	box-shadow: 0 16px 31px rgba(0,30,79,0.29), 0 12px 14px rgba(0,50,99,0.21);
}

/* when the user is hovering over one of the award sections, modify its child element, .award-header */
.award.box-shadow:hover .award-header
{
	/* any animations that occur will take half a second to complete */
	transition: .5s;
	
	/* lessen the size of the text shadow, but make it darker */
	text-shadow: .075vw .075vw rgba(0,0,0,.5);
}


/* when the user is hovering over one of the award sections, modify its child element, .box-shadow */
.award.box-shadow:hover .box-shadow
{
	/* any animations that occur will take half a second to complete */
	transition: .5s;
	
	/* increase the size of the box shadow */
	box-shadow: 0 1px 4px rgba(0,30,79,0.23), 0 1px 4px rgba(0,50,99,0.3);
}

/* header for sub-directories (every page besides index.html) */
#header-subpage
{
	/* setting the height of the header to 25% of the view window's height */
	height: 25vh;
	
	/* setting the width of the header to 100% of the view window's width */
	width: 100vw;
	
	/* setting the background/header image */
	background-image: url('../images/header/header_1.png');
	
	/* making the background image will the entire width of the div */
	background-size: cover;
	
	/* align the background position from the top instead of the default center */
	background-position: top;
	
	/* flex children elements (back button) */
	display: flex;
	
	/* centering children elements (back button) */
  	justify-content: center;
	
	/* aligning children elements to the center (back button) */
  	align-items: center;
}

/* info section */
.info-section-long
{
	/* height of section depends on how much is in it */
	height: auto;
	
	/* width is 100% of parent div's width */
	width: 100%;
	
	/* setting the background color of the info section to white */
	background-color: rgb(255,255,255);
	
	/* any animations that occur will take half a second to play out */
	transition: .5s;
	
	/* multiple info sections will flow in-line next to each other, go to the next line and etc. */
	display: inline-block;
	
	/* push other info sections away by .2% of the view window's width */
	margin: .2vw;
	
	/* push info sections that are below even further away, 1% of the of pages view window height */
	margin-bottom: 1vh;
}

/* the image/logo that represents the header text */
.info-section-image
{
	display: inline;
	position: relative;
	top: 5px;
}

/* sizing of the section logo */
.info-section-image-sizing
{
	width: 35px;
}

/* the header portion of an info section */
.info-section-header
{
	/* bpa red font color */
	color: rgb(239,62,66);
	
	/* 36px sized font */
	font-size: 36px;
	
	/* un-center text, instead align to the left */
	text-align: left;
	
	/* add some spacing around the text */
	padding: .4vw .4vw .4vw .8vw;
	
	/* force uppercase letters */
	text-transform: uppercase;
	
	/* put a red border on the bottom of the header portion */
	border-bottom: 2px solid rgb(239,62,66);
	
	/* add a shadow to the text */
	text-shadow: .15vw .15vw rgba(0,0,0,.2);
}

/* the main info portion of the info-section */
.info-section-content
{
	/* un-center text, instead align to the left */
	text-align: left;
	
	/* bpa gray font color */
	color: rgb(105,105,105);
	
	/* indent on the beginning of every paragraph */
	text-indent: 0vw;
	
	/* put some spacing  */
	padding: 1vw .5vw 1vw 1vw;
}

/* info-sections that are on the left side of the page when in desktop mode */
.left-side
{
	/* stay on the left side */
	float: left;
	
	/* set the width to around half of the parent div */
	width: 49.5%;
	
	/* allow both sides to display next to each other */
	display: inline-block;
}

/* info-sections that are on the right side of the page when in desktop mode */
.right-side
{
	/* stay on the right side */
	float: right;
	
	/* set the width to around half of the parent div */
	width: 49.5%;
	
	/* allow both sides to display next to each other */
	display: inline-block;
}

/* pushing elements down that are below if things are feeling too squished */
.bottom-spacing
{
	/* push element 1% of the view window's height */
	margin-bottom: 1vh;
}

/* when the users screen is large */
@media only screen and (max-width: 1520px) 
{
	/* award header text located in .award-top-right */
	.award-header
	{
		/* increase font size to fill space */
		font-size: 450%;
	}
}

/* when the user is on a "mobile-like" resolution/aspect ratio */
@media only screen and (max-width: 900px) 
{
    /* award header text located in .award-top-right */
	.award-header
	{
		/* increase font size to make the headers easier to read */
		font-size: 350%;
	}
    
	/* main page header on index.html */
	#header
	{
		/* make the header size depend on the inside logo */
		height: auto;
		
		/* put spacing around the header logo */
		padding: 10px;
	}
	
	/* animated fixed header when the user scrolls down */
	#header-fixed
	{
		/* hide animated fixed header on small screens to save space */
		display: none;
	}
	
	/* centering elements horizontally and vertically */
	.center-xy
	{
		/* adjusting the logo positioning */
		transform: translate(-51.5%, 0%);
	}
	
	/* top left of the award section */
	.award-top-left
	{
		/* fill the div 100% of it's parent div */
		width: 100%;
		
		/* make the height 50% of it's parent div's height */
		height: 50%;
	}
	
	/* top right of the award section */
	.award-top-right
	{
		/* fill the div 100% of it's parent div */
		width: 100%;
		
		/* make the height 50% of it's parent div's height */
		height: 50%;
	}

	/* sizing of the section logo */
	.info-section-image-sizing
	{
		/* increasing the padding on the left side of the image on mobile/small screens */
		padding-left: 1vw;	
	}
	
	/* image describing the award */
	.award-image
	{
		/* making the image size based on parent div height, also making it smaller */
		height: 90%;
		
		/* making the image width auto, based on height */
		width: auto;
		
		/* allowing the image to be moved */
		position: relative;
		
		/* moving the image half of the div's height down */
		top: 50%;
		
		/* moving the image half of the div's widht to the right */
		left: 50%;
		
		/* transforming the images position back slightly, centering the image horizontally and vertically in its div */
		transform: translate(-50%, -50%);
	}
	
	/* header logo image */
	#logo
	{
		/* set logo width to 90% of the parent div's width, instead of height */
		width: 90%;
		
		/* set the logo height to be dependent on the width of the image */
		height: auto;
	}

	/* info section */
	.info-section-long
	{
		/* increase spacing between info sections */
		margin-bottom: 2.5vh;
	}

	/* scrollbar */
	::-webkit-scrollbar 
	{
	    /* setting scrollbar width to 0, hiding it on smaller screen sizes */
		width: 0;
	}

	/* info sections on the left side of the page on desktop screens */
	.left-side
	{
		/* getting rid of left float */
		float: none;
		
		/* setting the width of the left side to 100% from 50% */
		width: 100%;
	}
	
	/* info sections on the right side of the page on desktop screens */
	.right-side
	{
		/* getting rid of right float */
		float: none;
		
		/* setting the width of the right side to 100% from 50% */
		width: 100%;
	}
}

/* if the users screen is super skinny/small */
@media only screen and (max-width: 700px) 
{	
	/* top left portion of the award sections */
	.award-top-left
	{
		/* removing/hiding the top left portion (image) */
		display: none;
	}
	
	/* top right portion of the award sections */
	.award-top-right
	{
		/* setting the width of the top right portion to 100%, filling the entire top half portion */
		width: 100%;
		
		/* filling the entire height of the top half portion (50% of the entire section height) */
		height: 100%;
		
		/* removing right float */
		float: none;
	}

	/* top half portion of the award sections */
	.award-top
	{
		/* making the top of the award section's height smaller */
		height: 65%;
	}
	
	/* bottom half portion of the award sections */
	.award-bottom
	{
		/* making the bottom of the award section's height larger */
		height: 35%;
	}
	
	/* space that is safe for content to go */
	#content-space
	{
		/* increasing the width of the content space */
		width: 88vw;
	}
}

/* when the users screen is very large */
@media only screen and (min-width: 2460px) 
{
	/* image describing award */
	.award-image
	{
		/* switching the image height to be based on the div height, instead of width  */
		height: 95%;
		
		/* making the width of the image be based on the height of the image */
		width: auto;
	}
}